#miTabla{
    border-collapse: collapse;
    width: 100%; 
 }
 *{
    border-radius: 5px;     
  }
.tablaPermiso{
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    padding: 0.5%;
    margin: 0.5%;
    width: 96%;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
}
 svg#icono-tabla{
    width:40px;
    height: 30px;
    color: green;
}
    .boton{
    padding: 0.5%;
    margin: 1%;
     height: 30px;
     width: 15%;
    text-align: center;
    background-color: rgb(222, 222, 245);
    margin-left: 45%;
    }
    .boton1{
        padding: 0.5%;
        margin: 1%;
         height: 30px;
         width: 15%;
        text-align: center;
        background-color: rgb(222, 222, 245);
        margin-left: 45%;
        }
    .boton:hover{
        background-color: #06976070 ;
    }
    .boton1:hover{
        background-color: #06976070 ;
    }
    .logoM{
        padding-left: 30%;   
    }

#miTablaC{
    border-collapse: collapse;
}
.compensatorios{
    width: 96%;
    padding: 0.5%;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
}

.encabezado{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
}
.empleados{
    min-width: 940px;
    width: 100%;
}
.info{
    float: right;
        margin: 0.2cm;
        padding: 0.2cm;
        border: 0.2cm;
        width: 78%;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
   min-width: 400px;
 
   
}

.n1{
    margin: 0.2cm;
        padding: 0.2cm;
        border: 0.2cm;
        justify-content:center;
        width:100%;
        height: 20%;
        

}
.n2{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%; 
}
.n3{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%; 
}
.n4{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%; 
}
.n5{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%;
}
.n6{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%;
}
.n7{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%;
}
.n8{
    padding-left:40% ;
}
.nombre{
 text-align: center;
}
.lnombre{
    margin-left:22px ;
    width: 50%;
    padding-left:10% ;
    height: 20px;
    height: 20px; 
}
.lcedula{
    margin-left:101px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.lnacimiento{
    margin-left:14px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ldireccion{
    margin-left:82px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ltelefono{
    margin-left:85px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.lcorreo{
    margin-left:100px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ldescripcion{
    margin-left:4px ;
    width: 50%;
    padding-left:10% ;
    height: 35px; 
     
}