<section class="empleados">
    <html>

    <body>
        <div class="pant">
            <div class="encabezado">
            <img class="logo" src="assets/merkcentro.PNG">
        </div>
        
            <div class="info">
                    <div class="n1">
                        <div class="nombre1">
                            <h1 class="nombre"> Permisos </h1>
                        </div>
                        
                        <div class="tablaPermiso">
                            <table border="1" width="100%" id="miTabla">
                                <tr>
                                    <th> Fecha Permiso </th>
                                    <th> Cantidad Dias</th>
                                    <th>Descripciòn</th>
                                </tr>
                                <tr>
                                    <td>2021-11-11</td>
                                    <td>2</td>
                                    <td>Muerte familiar</td>
                                </tr>
                                <tr>
                                    <td>.</td>
                                    <td>.</td>
                                    <td>.</td>
                                </tr>
                            </table>
                            <div>
                                <button class="boton">Crear Permiso</button>
                            </div>
                        </div>
                        <h1 class="nombre"> Compensatorio </h1>
                        <div class="compensatorios">
                            <table border="1" width="100%" id="miTablaC">
                                <tr>
                                    <th> Fecha Compensatorio </th>
                                    <th> Cantidad Dias</th>
                                    <th>Descripciòn</th>
                                </tr>
                                <tr>
                                    <td>2021-11-11</td>
                                    <td>2</td>
                                    <td>Dobladas de trabajo</td>
                                </tr>
                                <tr>
                                    <td>.</td>
                                    <td>.</td>
                                    <td>.</td>
                                </tr>
                            </table>
                            <div>
                                <button class="boton">Crear Compensatorio</button>
                            </div>
                        </div>
                        
                    </div>
            </div>
        </div>
    </body>
    </html>
</section>
