
.pant{
    margin-left:19.8%;
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
    min-width: 600px;
  
    
    }
    .boton{
    padding: 2%;
    margin: 2%;
    height: 10%;
    width: 30%;
    text-align: center;
    background-color: rgb(222, 222, 245);
    }
    .boton:hover{
        background-color: #06976070 ;
    }
.logo{
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    justify-content:center;
}
.empleados{
    
}
.encabezado{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:96.5%; 
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
}
.info{
    padding: 3%;
    margin: 2%;
    height:50% ;
    width: 50%;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
   min-width: 400px;
 
   
}

.n1{
    margin: 0.2cm;
        padding: 0.2cm;
        border: 0.2cm;
        justify-content:center;
        width:100%;
        height: 20%;
        

}
.n2{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%; 
}
.n3{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%; 
}
.n4{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%; 
}
.n5{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%;
}
.n6{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%;
}
.n7{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:100%; 
    height: 20%;
}
.n8{
    padding-left:40% ;
}
.lnombre{
    margin-left:22px ;
    width: 50%;
    padding-left:10% ;
    height: 20px;
    height: 20px; 
}
.lcedula{
    margin-left:101px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.lnacimiento{
    margin-left:14px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ldireccion{
    margin-left:82px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ltelefono{
    margin-left:85px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.lcorreo{
    margin-left:100px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ldescripcion{
    margin-left:4px ;
    width: 50%;
    padding-left:10% ;
    height: 35px; 
     
}