<section class="empleados">
    <html>

    <body>
        <div class="izq">
        <div class="pant">
              <div class="encabezado">
                <img class="logoM" src="assets/images/merkcentro.PNG">
            </div>
           
             <div>
                <a class="edit" [routerLink]="['/empleados']" >
                    <svg id= "icono-tabla" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" 
                    xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" 
                    stroke-linejoin="round" stroke-width="2" 
                    d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"></path></svg>
                  </a>
                <h1 class="infoP">   Informacion personal</h1>
               
            </div>
            <div class="info">
                
                    <div class="n1">
                        <label class="nombre">Nombre Completo: </label>
                        <input type="text" class="lnombre">
                    </div>
                    
                <div class="n2">
                    <label class="cedula">Cedula:</label>
                    <input type="text" class="lcedula">
                </div>
                
                <div class="n3">
                    <label class="nacimiento">Fecha de nacimiento:</label>
                    <input type="text" class="lnacimiento">
                </div>
                <div class="n4">
                    <label class="direccion">Direccion:</label>
                    <input type="text" class="ldireccion">
                </div>
                <div class="n5">
                    <label class="telefono">Telefono: </label>
                    <input type="text" class="ltelefono">
                </div>
                <div class="n6">
                    <label class="correo">Correo:</label>
                    <input type="text" class="lcorreo">
                </div>
                <div class="n7">
                    <label class="descripcion">Cargo:</label>
                    <input type="text" class="ldescripcion">
                </div>
                <div class="n8">
                    <button class="boton">Editar</button>
                </div>
               
            </div>
        </div>


        <app-profiles></app-profiles>

        
    </div>
    </body>
    </html>
</section>