.edit{
    width:20px;
    height: 20px;
}

svg#icono-tabla{
    width:40px;
    height: 30px;
    color: green;
}
.empleados{
    min-width: 750px;
    min-width: 850px;
}
.infoP{
    text-align: center;
}
.h1{
    justify-content: center;
}
.pant{
    float: right;
    width: 80%;
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
    min-width: 600px;
    }
.logoM{
    padding-left: 30%;   
}

.encabezado{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:96.5%; 
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
}
.info{
    padding: 3%;
    margin: 2%;
    height:50% ;
    width: 50%;
    margin-left: 20%;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
   min-width: 400px;
 
}


.n1, .n2, .n3, .n4, .n5, .n6, .n7, .n8, .n9, .n10{
    margin: 0.2cm;
        padding: 0.2cm;
        border: 0.2cm;
        justify-content:center;
        width:100%;
        height: 20%;
        

}

.lnombre{
    margin-left:41px ;
    width: 50%;
    padding-left:10% ;
    height: 20px;
    height: 20px; 
}
.lapellidos{
    margin-left:31px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.lidentificacion{
    margin-left:9px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ldireccion{
    margin-left:34px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.lbarrio{
    margin-left:56px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ltelefono{
    margin-left:37px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ledad{
    margin-left:64px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
     
}
.lcargo{
    margin-left:59px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.lactivo{
    margin-left:50px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.n10{
    margin-left: 30%;
}
.n11{
    float: right;
    margin-left: 10%;
}
.n12{
    float: left;
    margin-right: 10%;

}
.botonEditar, .botonEliminar, .boton, .boton1, .boton2{
    margin: 10px;
    padding: 10px;
    background-color: rgb(222, 222, 245);
}

    .boton:hover, .boton1:hover, .boton2:hover, botonEditar:hover, botonEliminar:hover {
        background-color: #06976070 ;
    }

