.edit{
    width:20px;
    height: 20px;
}


svg#icono-tabla{
    width:40px;
    height: 30px;
    color: green;
}
.empleados{
    min-width: 750px;
    min-width: 850px;
}
.infoP{
    text-align: center;
}
.h1{
    justify-content: center;
}
.pant{
    float: right;
    width: 80%;
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
    min-width: 600px;
    }
    .boton, .boton1, .boton2 {
    padding: 1%;
    margin: 1%;
    height: 1%;
    width: 14%;
    margin-left: 15%;
    background-color: rgb(222, 222, 245);
    }
    .boton:hover, .boton1:hover, .boton2:hover{
        background-color: #06976070 ;
    }
.logoM{
    padding-left: 30%;   
}

.encabezado{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:96.5%; 
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
}
.info{
    padding: 3%;
    margin: 2%;
    height:50% ;
    width: 50%;
    margin-left: 20%;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
   min-width: 400px;
 
   
}


.n1, .n2, .n3, .n4, .n5, .n6, .n7{
    margin: 0.2cm;
        padding: 0.2cm;
        border: 0.2cm;
        justify-content:center;
        width:100%;
        height: 20%;
        

}

.lnombre{
    margin-left:22px ;
    width: 50%;
    padding-left:10% ;
    height: 20px;
    height: 20px; 
}
.lcedula{
    margin-left:101px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.lnacimiento{
    margin-left:14px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ldireccion{
    margin-left:82px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ltelefono{
    margin-left:85px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.lcorreo{
    margin-left:100px ;
    width: 50%;
    padding-left:10% ;
    height: 20px; 
}
.ldescripcion{
    margin-left:4px ;
    width: 50%;
    padding-left:10% ;
    height: 35px; 
     
}


