<section class="empleados">
    <html>

    <body>
        <div class="pant">
             <div class="encabezado">
                <img class="logo" src="assets/merkcentro.PNG">
             </div>
        
             <div>
                <h1> Informacion personal</h1>
            </div>
            <div class="info">
                
                    <div class="n1">
                        <label class="nombre">Nombre Completo: </label>
                        <input type="text" class="lnombre">
                    </div>
                    
                <div class="n2">
                    <label class="cedula">Cedula:</label>
                    <input type="text" class="lcedula">
                </div>
                
                <div class="n3">
                    <label class="nacimiento">Fecha de nacimiento:</label>
                    <input type="text" class="lnacimiento">
                </div>
                <div class="n4">
                    <label class="direccion">Direccion:</label>
                    <input type="text" class="ldireccion">
                </div>
                <div class="n5">
                    <label class="telefono">Telefono: </label>
                    <input type="text" class="ltelefono">
                </div>
                <div class="n6">
                    <label class="correo">Correo:</label>
                    <input type="text" class="lcorreo">
                </div>
                <div class="n7">
                    <label class="descripcion">Descripcion del cargo:</label>
                    <input type="text" class="ldescripcion">
                </div>
                <div class="n8">
                    <button class="boton">Actualizar</button>
                </div>
               
            </div>
        </div>
    </body>
    </html>
</section>