<section class="empleados">
    <html>

    <body>
        <div class="encabezado">
            <img class="logo" src="assets/merkcentro.PNG">
        </div>
        
        <div class="info">
        <form class="text">
            <div>
                <label class="inicioContrato">Fecha Inicio del contrato</label>
                <input type="text" class="inicioContrato">
            </div>
           <div>
            <label class="finContrato">Fecha Fin del contrato</label>
            <input type="text" class="finContrato">
           </div>
           <div>
            <label class="codContrato">Codigo del contrato</label>
            <input type="text" class="codContrato">

           </div>
          
        </form>
        </div>
        <div> </div>
        <div class="s">
            <img class="contrato" src="assets/contrato.PNG">
        </div>
    </body>
    </html>
</section>