.contrato{
    background-color: rgb(222, 222, 245);
    max-width: 90%;
    width: 90%;
}
body{
    padding: 3%;
    margin: 1%;
    margin-left: 20%;
    height: 100%; 
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
}

.logo{

    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    justify-content:center;
 
}
.encabezado{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    justify-content:center;
    width:96.5%; 
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
}
.inicioContrato{
    margin: 0.5%;
    padding: 0.5%;
}
.finContrato{
    margin: 0.5%;
    padding: 0.5%;
}
.codContrato{
    margin: 0.5%;
    padding: 0.5%;
}
.info{
    margin: 0.5%;
    padding: 0.5%;
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
}