<section class="empleados">
    <html>
    <body> 
        <div class="general">
        <div class="cuerpo">
            <div class="encabezado">
                <img class="logo" src="assets/images/merkcentro.PNG">
            </div>
            <div class="botonB">
                <div class="bbuscar">
                    <input matInput [formControl]="searchInputControl"
                    [placeholder]="'Buscar empleados'" [autocomplete]="'off'">
                    <button class="botonBuscar" (click) = "buscarEmpleado()"> Buscar Empleado </button>
                </div>                
            </div>
            <div class="tabla-Empleados">
                <h1 class="text-left txt-primary"> Listas de empleado </h1>
                <meta charset="utf-8">
                <title>Empleados </title>
                <table border="1" width="100%" id="miTabla">
                    <tr>
                        <th> Nombre Empleado </th>
                        <th>Apellidos</th>
                        <th>Identificacion</th>
                        <th>Activo</th>
                        <th>Selecionar</th>
                    </tr>
                    <ng-container *ngFor="let empleados of this.listEmpleados | paginate: { itemsPerPage: 10, currentPage: page }">
                    <tr>
                        <td>{{ empleados.nombre }}</td>
                        <td>{{ empleados.apellidos }}</td>
                        <td>{{ empleados.identificacion }}</td>
                        <td>{{ empleados.activo }}</td>
                        <th>
                        <a [routerLink]="['/info']" class="edit" >
                            <svg id="icono-tabla" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" 
                            xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" 
                            stroke-linejoin="round" stroke-width="2" 
                            d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        </a>
                        </th>

                    </tr>
                </ng-container>
                </table>
                <div >
                    <button class="boton"
                    [routerLink]="['/compose']" routerLinkActive="active" 
                    >Crear</button>
                    <button class="boton"
                    [routerLink]="['/contrato']" routerLinkActive="active" 
                    >Contrato</button>
                    <button class="boton"
                    [routerLink]="['/permisos']" routerLinkActive="active" 
                    >Permisos</button>
                </div>
                <div >
                    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
                    nextLabel="Siguiente"></pagination-controls >
                </div>
                <div >
                    
                </div>
            </div>

        </div>

        <app-profiles></app-profiles>
    </div> 

    </body>

    </html>
</section>
<div id="empleados">
</div>
