.cuerpo{
    width: 70%;
    height: 100%;
    padding: 1.5%;
    margin: 1.5%;
    margin-left: 20%;
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
    

}
.t{
    border-collapse: collapse;
    width: 100%;
} 
.fondoHorario{
    width: 100%;
    height: 100%;
    
}
.tablaHorario{
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.2cm;
    width: 98%;
    background-color: #ffffff71;
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
    background-color: #06976070;
}
.titPag1{
    margin: 0px;
    padding: 5px;
    display: flex;  
    justify-content: space-around;
    background-color: #fff;
    
}

.logo{
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(211, 208, 208);
    border-top-color: rgb(211, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(211, 208, 208);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(211, 208, 208);
    border-left-style: solid;
    border-left-width: 1px;
  
}


.contenidoTabla{
    display: flex;
    justify-content: center;
}


.botonLunes{
    background-color: #06976070;
    }


.botonLunes:hover{
background-color: #F8981D;
}
.botonMartes{
    background-color: #06976070   ;
    }


.botonMartes:hover{
background-color: #F8981D;
}
.botonMiercoles{
    background-color: #06976070   ;
    }


.botonMiercoles:hover{
background-color: #F8981D;
}
.botonJueves{
    background-color: #06976070   ;
    }


.botonJueves:hover{
background-color: #F8981D;
}
.botonViernes{
    background-color: #06976070   ;
    }


.botonViernes:hover{
background-color: #F8981D;
}
.botonSabado{
    background-color: #06976070   ;
    }


.botonSabado:hover{
background-color: #F8981D;
}
.botonDomingo{
    background-color: #06976070   ;
    }


.botonDomingo:hover{
background-color: #F8981D;
}
