<section class="fondoHorario">
    <html>

    <body>
        <div>
    <div class="cuerpo">
    
    
        <div class = "logo">
        <img src= "assets/images/merkcentro.PNG">
        </div>
        
        <div class="tablaHorario">
            <h1 class="titPag1">Horarios Empleados</h1>
            <table border="3" class="t" >
        
                <h2 >Semana</h2>

                <tr>
                    <td>         </td> <td>      </td><td>08/11/21</td><td>09/11/21</td><td>10/11/21</td><td>11/11/21</td>
                    <td>12/11/21</td><td>13/11/21</td><td>14/11/21</td>
                    
                  </tr>
                <tr>
                 <td>Empleado</td> <td>Puesto<td> <button type="button" class=botonLunes [routerLink]="['/diarios']" routerLinkActive = "active">Lunes</button></td>
                        <td><button class=botonMartes>Martes</button></td> <td><button class=botonMiercoles>Miercoles</button></td> 
                        <td><button class=botonJueves>Jueves</button></td><td><button class=botonViernes>Viernes</button></td>
                        <td><button class=botonSabado>Sabado</button></td><td><button class=botonDomingo>Domingo</button></td>
                </tr>
       
                    <tr>
                        <td>Juan</td> <td>Surtido</td> <td>4</td><td>4</td><td>4</td><td>4</td><td>0</td><td>4</td><td>4</td>
                    </tr>

                    <tr>
                        <td>Carlos</td> <td>Vigilancia</td> <td>6</td><td>0</td><td>4</td><td>4</td><td>4</td><td>4</td><td>4</td>
                    </tr>
        
                    <tr>
                        <td>Victor</td> <td>Supervisor</td> <td>8</td><td>4</td><td>4</td><td>4</td><td>0</td><td>4</td><td>4</td>
                    </tr>
                    <tr>
                        <td>Silvia</td> <td>Caja</td> <td>6</td><td>4</td><td>4</td><td>4</td><td>0</td><td>4</td><td>4</td>
                    </tr>
                    <tr>
                        <td>Luz Estela</td> <td>Caja</td> <td>6</td><td>4</td><td>4</td><td>4</td><td>0</td><td>4</td><td>4</td>
                    </tr>
  

            </table>
        </div>

    

    </div>


    <app-profiles></app-profiles>



  </div>


    </body>
    </html>

</section>