<section class="fondoHorario">
    <html>
    
    <body>
        <div>
    <div class="cuerpo">  
         
            <div class = "logo">
            <img src= "assets/images/merkcentro.PNG">
            </div>
                
            <div class="tablaDiario">    
                <h1 class="titPag1">Horarios Empleados</h1>
                <table border=1 class="n" > 
                    <h2 >Diario</h2>
                    <tr>
                        <td>Week From</td> <td>8/11/21</td><td>To</td><td>14/11/21</td>
                    </tr>
                    <tr>
                        <td>LUNES</td> <td>7:00 am</td> <td> 8:00 am</td> <td>9:00 am</td> <td>10:00 am</td> 
                        <td>11:00 am</td><td>12:00 am</td><td>13:00 am</td><td>14:00 am</td>
                    </tr>

                        <tr>
                            <td>Juan</td> <td>Surtidor</td> <td>Surtidor</td><td>Surtidor</td><td>Surtidor</td><td>0</td><td>0</td><td>Surtidor</td><td>Surtidor</td>
                        </tr>
                        <tr>
                            <td>Carlos</td> <td>Vigilante</td> <td>Vigilante</td><td>Vigilante</td><td>Vigilante</td><td>0</td><td>0</td><td>Vigilante</td><td>Vigilante</td>
                        </tr>
                        <tr>
                            <td>Victor</td> <td>Supervisor</td> <td>Supervisor</td><td>Supervisor</td><td>Supervisor</td><td>Supervisor</td><td>Supervisor</td><td>Supervisor</td><td>Supervisor</td>
                        </tr>
                        <tr>
                            <td>Silvia</td> <td>Cajera</td> <td>Cajera</td><td>Cajera</td><td>Cajera</td><td>Cajera</td><td>Cajera</td><td>0</td><td>0</td>
                        </tr>
                        <tr>
                            <td>Luz Estela</td> <td>Cajera</td> <td>Cajera</td><td>Cajera</td><td>Cajera</td><td>Cajera</td><td>Cajera</td><td>0</td><td>0</td>
                        </tr>
                </table>
            </div>
            
    </div>




    <div class="conM">
        <div class="contene">
            <div class="titulo">
                <h3 class="titulo1">MerkCentro</h3>
            </div>
            <div class="per">
                <img class="logo" src="assets/images/Perfil.jpeg">
            </div>
            <div class="gPerfil">
                <a [routerLink]="['/perfil']" class="textPerfil"> Perfil </a>
            </div>
            
            <div class="gEmpleados">
              <a [routerLink]="['/empleados']"  class="textEmpleados"> Empleados </a>
            </div>
            <div class="gHorarios">
                <a [routerLink]="['/horarios']"  class="textHorarios"> Horarios </a>
            </div>
        </div>
  </div>
</div>
    </body>
    </html>
    
</section>