<section class="perfil">
  <html>
  <body>
    <div class="conM">
          <div class="contene">
              <div class="titulo">
                  <h3 class="titulo1">MerkCentro</h3>
              </div>
              <div class="per">
                  <img class="logo" src="assets/images/Perfil.jpeg">
              </div>
              <div class="gPerfil">
                  <a [routerLink]="['/perfil']" class="textPerfil"> Perfil </a>
              </div>
              
              <div class="gEmpleados">
                <a [routerLink]="['/empleados']"  class="textEmpleados"> Empleados </a>
              </div>
              <div class="gHorarios">
                  <a [routerLink]="['/horarios']"  class="textHorarios"> Horarios </a>
              </div>
          </div>
    </div>
  </body>
  </html>
</section>
  