
.contene{
  background-color:rgb(182, 178, 177);
  width: 19%;
  height: 730px; 
  border-bottom: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-style:solid ; 
  border-bottom-color: rgb(211, 208, 208);
  border-top-color: rgb(211, 208, 208);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(211, 208, 208);
  border-right-style: solid;
  border-right-width: 1px;
  border-left-color: rgb(211, 208, 208);
  border-left-style: solid;
  border-left-width: 1px;
}
*{
  border-radius: 5px;
  }
.titulo1{
  max-width: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: rgb(230, 105, 3);
}
.titulo{
  justify-content: center;
  width: 100%;

}
.per{
  border-bottom: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-style:solid ; 
  border-bottom-color: rgb(0, 0, 0);
  border-top-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-top-width: 1px;

}
svg#icono-tabla{
  width:40px;
  height: 30px;
  color:black;
}
.logos{
  border-radius: 90px;
  margin: 8%;
  padding: 8%;
  justify-content: center;
  max-width: 80%;
  width: 60%;
  border-bottom-style:solid ; 
  border-bottom-color: rgb(211, 208, 208);
  border-top-color: rgb(211, 208, 208);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(211, 208, 208);
  border-right-style: solid;
  border-right-width: 1px;
  border-left-color: rgb(211, 208, 208);
  border-left-style: solid;
  border-left-width: 1px;
}
.textPerfil{
  color:  black;
  font-size: 20px;
}
.textEmpleados{
  color:  black;
  font-size: 20px;
}
.textHorarios{
  color: black;
  font-size: 20px;
}

.gEmpleados{
  margin: 0.2cm;
  padding: 0.2cm;
  border: 0.2cm;        
  border-bottom: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-style:solid ; 
  border-bottom-color: rgb(0, 0, 0);
}
.gHorarios{
  color:  #006D44;
  margin: 0.2cm;
  padding: 0.2cm;
  border: 0.2cm;
  border-bottom: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-style:solid ; 
  border-bottom-color: rgb(0, 0, 0);
}
.gPerfil{
  color:  #006D44;
  margin: 0.2cm;
  padding: 0.2cm;
  border: 0.2cm;
  border-bottom: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-style:solid ; 
  border-bottom-color: rgb(0, 0, 0);
}
.gPerfil :hover{
color: orangered;
}
.gEmpleados :hover{
  color: orangered;
}
.gHorarios :hover{
  color: orangered;
}
